.searchBarColumn {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 1px;
  z-index: 100;
  box-shadow: 0 3px 4px 0 rgb(0, 0, 0 / 20%), 0 4px 15px 0 rgb(0, 0, 0 / 19%);
  padding: 1rem;
  background: #fff;
}
