.movie_card {
  color: inherit !important;
  text-decoration: none;
  padding: 0 !important;
  margin: 14px;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .yearInfo {
    color: #5e5c5c;
  }
  .card-body {
    .titleDiv,
    .captionDiv {
      text-align: left;
      display: flex;
      justify-content: space-between;
    }
  }
}

.movie_card:hover {
  text-decoration: none !important;
  color: inherit !important;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
