.searchBar {
  display: flex;
  form {
    width: 100%;
    display: flex;
  }
  input {
    height: 2.5rem;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.2s ease 0s;
    color: rgb(45, 55, 72);
  }
  input:focus {
    border-color: rgb(49, 130, 206);
    box-shadow: rgb(49, 130, 206) 0px 0px 0px 1px;
  }
  button {
    background: #fff;
    height: 2.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    img {
      height: 16px;
    }
  }
}
